<div class="work-experience">
  {% if site.data.work != blank %}
    {% assign work_size = site.data.work | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.data.work.scrollable and work_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign work = site.data.work %}
        {% for item in work %}
          <tr>
            <td style="width: 70%">
              <strong>{{ item.company }}</strong><br>
              <span style="font-size: 0.9em; color: #666;">{{ item.position }}</span>
            </td>
            <td style="width: 30%; text-align: right;">{{ item.period }}</td>
          </tr>
          {% if include.detailed %}
            <tr>
              <td colspan="2">
                {% if item.details %}
                  {% if item.details.first %}
                    {{ item.details.first | markdownify }}
                    <ul>
                      {% for detail in item.details offset: 1 %}
                        <li>{{ detail | markdownify }}</li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    {{ item.details | markdownify }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No work experience so far...</p>
  {% endif %}
</div>
